.root {
    -fx-background-color: white;
}

.page-outer-vbox {
  -fx-background-color: #f5f5f5;
  -fx-alignment: center;
}

.page-inner-vbox {
  -fx-padding: 20 0 20 0;
  -fx-max-width: 800;
  -fx-background-color: white;
  -fx-alignment: center;
  -fx-spacing: 20;
}

.header {
  -fx-alignment: center;
  -fx-spacing: 50;
  -fx-padding: 10;
  -fx-background-color: #cceeff;
}

.header-link {
  -fx-font-size: 24;
}

.header-link-selected {
  -fx-underline: true;
}

.flow-pane {
  -fx-alignment: center;
  -fx-max-width: 700;
  -fx-hgap: 20;
  -fx-vgap: 20;
}

.big-cell {
  -fx-background-color: green;
  -fx-pref-width: 300;
  -fx-min-height: 300;
  -fx-font-size: 32;
}

.big-cell-1 {
  -fx-background-color: yellow;
}

.big-cell-2 {
  -fx-background-color: lightgreen;
}

.big-cell-3 {
  -fx-background-color: orange;
}

.big-cell-4 {
  -fx-background-color: lightblue;
}